<html>

<head>
    <%= include /header.ejs %>
</head>

<body> 
<h1>New Recipie</h1>
<label>Recipie Name</label>
<input id="recipieName" type="text"> 

<label>Recipie Description</label>
<textarea id="recipieDescription" class="materialize-textarea"></textarea>

<label>Recipie Instructions</label>
<textarea id="recipieInstructions" class="materialize-textarea"></textarea>
<a class="waves-effect waves-light btn">Done</a>          
</body>

</html>
