<html>

<head>
    <%= include /header.ejs %>
</head>

<body>
    <h1>View Recipies</h1>
    <div class="col s12 m7">
        <div class="card medium horizontal">
            <div class="card-image"> <img src="http://lorempixel.com/100/190/nature/5"> </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h5 class="header">Recipie Name 1</h5>
                    <p>Sample Recipie</p>
                </div>
                <div class="card-action"> <a href="/view/r2">View Recipie</a> </div>
            </div>
        </div>
    </div>
    <div class="col s12 m7">
        <div class="card medium horizontal">
            <div class="card-image"> <img src="http://lorempixel.com/100/190/nature/6"> </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h5 class="header">Recipie Name 2</h5>
                    <p>I Taste Bad</p>
                </div>
                <div class="card-action"> <a href="/view/r2">View Recipie</a> </div>
            </div>
        </div>
    </div>
</body>

</html>
